* {
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;
}


 img{
    width: 200px;
    height: 200px;
}

#logo {
    width: 200px;
    height: 200px;
}

#img_index {
    height: 300px;
    width: 300px;
    margin-right: 4px;
    
}

#search_box {
    margin: 0;
}


.socialMedia_links img{
   width: 20px;
   height: 22px;
}

