body::before {
    content: ' ';
    display: block;
    height: 1em;
}

.hotel_details_img{
    width: 500px;
    height: 500px;
}

.booking_link{
    display: block;
}

#hotel_container {
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
}

.form-container{
    margin-bottom: 1%;
}

body::after {
    content: ' ';
    display: block;
    height: 1em;
}