body::before {
    content: ' ';
    display: block;
    height: 1em;
}




.booking_link{
    display: block;
}

.hotel_container {
    display: flex;
    margin-top: 2%;
     margin-left: 2%;
     margin-right: 4%;
     border: 1px solid black;
}



.hotel_img {
    
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: center;
    
    border-right: 1px solid black;
}

.sliderMode {
    width: 65%;
    height: 90%;
    margin: auto;
}

.sliderMode img {
    width: 100%;
    height: 100%;
}

.displayNone {
  display: none;
}

.controls {
    width: 15%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls i {
    color: rosybrown;
}


.hotel_details_img{
    width: 500px;
    height: 500px;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    left: -100px;

}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
   
   
  }

.form-container{
    width: 40%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
}

.formcontrol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 10px; */
    width: 90%;
    
    /* border: 3px solid green; */
    padding: 30px;
    
}

.formcontrol label {
   width: 50%;
}

.formcontrol input {
    width: 50%;
 }


 .form_button button{
   
  width: 30%;
  padding: 10px;
  margin: auto;
  margin-left: 50%
  /* font-size: 1rem;
  margin-left: 50%;
  margin-top: 1em; */
  
 }

body::after {
    content: ' ';
    display: block;
    height: 1em;
}

.hotel-info{
    margin-left: 2%;
}

@media (min-width: 576px) and (max-width: 768px) {
    .controls{
        display: none;
    }

    .sliderMode{
       width: 95%;
    }

    .form_button {
       width: 100%;
    }

    .btn-submit-success {
        width: 100%;
    }
}