.lists-content {
    margin-top: 12vh;
   width: 100vw;

}

.list-content-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-content-menu-item {
    margin: 0 0;

}

.list-content-menu-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.2rem 1rem;
}


.map_img{
    padding-top: 20px;
    width: 800px;
    height: 500px;
}

#hotel_container {
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    /* height: 35%; */
    height: 210px; 
} 

#hotel_container:hover{
    
    background-color: rosybrown;

}


.hotel_img{
    width: 250px;
    height: 210px; 
} 

.hotel_card_details{
    padding-left: 1rem;
    padding-top: 2rem;
}

/* .hotel_card_details:hover {
    background-color: rosybrown;
} */

.hotel_lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



#hotel_container a {
    text-decoration: none;
    color: #000000;
}

.map-view {
    display: none;
}

.hotel_card{
    display: flex;
}

@media (min-width: 576px) and (max-width: 768px){
    #hotel_container{
        width: 100%;
        padding-right: 5%;
    }

    .map-view {
        width: 100%;
    }

    .map_img {
        width: 100%;
    }
}

@media (max-width: 575px)
{
    #hotel_container {
        width: 100%;
        height: 350px;
        margin: 10px 10px 10px 15px;
    }
    
    .hotel_card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }

    .hotel_card_img {
        width: 100%;
    }

    .hotel_img {
        width: 100%;
    }

    .hotel_card_details {
        width: 100%;
    }

    .map-view {
        width: 100%;
        height: 400vh;
    }
    .map_img {
        width: 100%;
    }
}