.lists-content {
    margin-top: 12vh;
   width: 100vw;

}

.list-content-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-content-menu-item {
    margin: 0 1rem;

}

.list-content-menu-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.2rem 0;
}


.map_img{
    width: 800px;
    height: 500px;
}

#hotel_container {
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    /* height: 35%; */
    height: 210px; 
} 


.hotel_img{
    width: 250px;
    height: 210px; 
} 

.hotel_card_details{
    padding-left: 1rem;
}

.hotel_lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



#hotel_container a {
    text-decoration: none;
    color: #000000;
}

.map-view {
    display: none;
}

.hotel_card{
    display: flex;
}