body::before {
    content: ' ';
    display: block;
    height: 3em;
}



p span {
   font-weight: bold;
}



.hotel_container{
    display: flex;
    background-color: rgb(132,136,139);
    width: 45%;
    height: 20%;
    margin:2% auto ;
    height: 200px;
}



.hotel_img{
    width: 250px;
    height: 200px;
}

.hotel_details{
    padding: 5%;
}

.confirmation {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: rosybrown;
    margin: auto;
    border: 1px solid black;
    border-radius: 0.8em;

}

.confirmation div {
    width: 30%;
}


.billing{
    margin: 2% 2%;
}

.invoice {
    margin: 2% 2%;
    
    border-radius: 5px;
    padding: 1% 2%;
}

.pay_now {
    margin: auto;
   
    /* width: 50%; */
   
    /* padding: 10px; */
    /* margin-left: 10px;  */
}



body::after {
    content: ' ';
    display: block;
    height: 4.5em;
}

@media (min-width: 576px) and (max-width: 768px) {
      
}


@media (max-width: 575px){

}