body::before {
    content: ' ';
    display: block;
    height: 1.9em;
}


.hotel_img{
    width: 500px;
    height: 500px;
}

p span {
   font-weight: bold;
}

.content {

}

.hotel_container{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin:2% auto ;
}

.billing{
    margin: 2% 2%;
}

.invoice {
    margin: 2% 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}

body::after {
    content: ' ';
    display: block;
    height: 2.5em;
}